// Specific CSS for your home-page
@import url('https://fonts.cdnfonts.com/css/pages-grotesque-demo');



body {
  background-color: #E6E9F3;
}

h1 {
  text-align: center;
  font-family: 'Pages Grotesque Demo', sans-serif;
  color: #DE4747;
  font-size: 88px;
}
h3 {

  font-family: "Raleway", sans-serif;;
  color: #585151;
  font-size: 28px;

}
h2 {

  font-family: 'Pages Grotesque Demo', sans-serif;
  color: #585151;
  font-size: 60px;
}

.container {
  max-width: 1400px; /* Adjust according to your design */
  margin: 0 auto; /* Center the container */
  padding: 0 15px;
  margin-top: 60px;
  font-family: "Raleway", sans-serif;;

}

.card {
  border-radius: 20px;
}
p {
  font-family: "Raleway", sans-serif;;
}
