<link href="https://fonts.cdnfonts.com/css/pages-grotesque-demo" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="header">
  <div class="d-flex justify-content-center align-items-center vh-50">
    <%= image_tag "logo_login.svg" %>
  </div>
<h1>WELCOME TO TIMELESS TRAVEL</h1>
</div>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger btn-block login-button">Login</button>
                </form>
            </div>
        </div>
    </div>

