.login-button {
  background-color: #DE4747;
  border-radius: 8px;
  width: 380px;
  height: 48px;
  font-family: "Raleway", sans-serif;
  color: #FEFEFC;
}

.info-button {
  background-color: #DE4747;
  border-radius: 8px;
  width: 400px;
  height: 48px;
  font-family: "Raleway", sans-serif;
  color: #FEFEFC;
  text-align: center;
  border: none;
}
.info-button :hover {
  background-color: #b12020;
}
.booking-button {
  background-color: #DE4747;
  border-radius: 8px;
  width: 650px;
  height: 48px;
  font-family: "Raleway", sans-serif;
  color: #FEFEFC;
  text-align: center;
  padding-top: 10px;
  border: none;
  margin-bottom: 10px;
}
