.navbar {
  justify-content: space-between;
  background:#FEFEFC;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar- .navbar-brand img {
  width: 40px;

}
.navbar-lewagon .nav-link {
  color: #FFFFFF;
}

.navbar-lewagon .navbar-brand {
  color: #FFFFFF;
}

/* Ensure the navbar is fixed at the top of the page */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar is on top of other content */
}

/* Add some padding to the body to prevent content from being hidden behind the navbar */
body {
  padding-top: 56px; /* Adjust based on the height of your navbar */
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  padding: 0px;
}
.logofont {
  font-family: 'Pages Grotesque Demo', sans-serif;
  color: #DE4747;
}

