.navbar {
  justify-content: space-between;
  background: white;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar- .navbar-brand img {
  width: 40px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  padding: 0px;
}
.logofont {
  font-family: 'Pages Grotesque Demo', sans-serif;
  color: #DE4747;
}
