// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


@import url('https://fonts.cdnfonts.com/css/pages-grotesque-demo');


.navbar-container {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 15px;
}

.navbar-nav .nav-link {
  margin-left: 15px;
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}
